// This actually automatically downloaded the conda environment and pubmlst directory into the work directory. Wow! So, I had to comment it out since I didn't need to download afresh. If you need to download the aforementioned, just comment out the code below.
// conda.enabled = true

profiles {

   standard {
      includeConfig 'base.config'
      process.executor = 'local'
      // conda.enabled = true
   }

}
